<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>
<h1 th:text="'List of Owners'">Owners List</h1>

<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    </thead>
    <tbody>
    <!--/*--><!--@thymesVar id="owners" type="java.util.Set<guru.springframework.sfgpetclinic.model.Owner>"--><!--*/-->
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">1</td>
        <td th:text="${owner.lastName}">1</td>
    </tr>
    </tbody>
</table>
</body>
</html>