<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owner')}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{PetOwners}">List of Pet Owners</title>
</head>
<body>
<h1 th:text="#{OwnersList}">Owners List</h1>
<!--/*--><!--@thymesVar id="owners" type="java.util.Set<guru.springframework.sfgpetclinic.model.Owner>"--><!--*/-->
<table class="table table-striped">
    <thead>
    <tr>
        <td th:text="#{ID}">ID</td>
        <td th:text="#{FirstName}">First Name</td>
        <td th:text="#{LastName}">Last Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">1</td>
        <td th:text="${owner.lastName}">1</td>
    </tr>
    </tbody>
</table>
</body>
</html>