<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vet Index Page</title>
</head>
<body>
<h1 th:text="'Vet Index Page'">Vet Index Page...</h1>
<!--/*--><!--@thymesVar id="vets" type="java.util.Set<guru.springframework.sfgpetclinic.model.Vet>"--><!--*/-->
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">1</td>
        <td th:text="${vet.lastName}">1</td>
    </tr>
    </tbody>
</table>
</body>
</html>