<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{Vets}">Vets</title>
</head>
<body>
<h1 th:text="#{Veterinarians}">Vet Index Page...</h1>
<!--/*--><!--@thymesVar id="vets" type="java.util.Set<guru.springframework.sfgpetclinic.model.Vet>"--><!--*/-->
<table class="table table-striped">
    <thead>
    <tr>
        <td th:text="#{ID}">ID</td>
        <td th:text="#{FirstName}">First Name</td>
        <td th:text="#{LastName}">Last Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">1</td>
        <td th:text="${vet.lastName}">1</td>
    </tr>
    </tbody>
</table>
</body>
</html>